/* Navbar settings */

body { padding-top: 70px; }

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 200px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* how <a> tags appear */
.submit_link{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* custom elements */
/* the rightmost element in navbar */
.navbar-brand {
}

.series-item {
    margin-bottom: 10px;
}

.series-image {
    margin-right: 10px;
}

/* series label "Unwatched episodes:"" */
.unwatched-label {
    color:IndianRed;
}

/* <tr> for season
 * .success is a bootstrap class that makes the table entry green
 */
.table-entry.success {
}
/* <tr> for episode */
.table-entry {
}