{% extends "base.html" %}

{% block head %}
<!-- Variables from template -->
<meta name="img-url" content="{{img_url}}">
<meta name="user-name" content="{{name}}">
{% endblock %}

{% block content %}
<div ng-app="app" ng-controller="ListController">
    <nav-bar search-term="searchTerm"></nav-bar>

    <ng-include src="'static/templates/watchlist.html'"></ng-include>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/app.js"></script>
<script src="/static/js/services.js"></script>
<script src="/static/js/navbar.js"></script>
{% endblock %}