{% extends "base.html" %}

{% block head %}
<!-- Variables from template -->
<meta name="poster-paths" content="{{poster_paths}}">
<meta name="user-name" content="{{name}}">
<meta name="tmdb-key" content="{{api_key}}">
{% endblock %}

{% block content %}
{% raw %}
<div ng-app="app" ng-controller="ListController">
  <nav-bar on-submit="navbarSubmit()" search-term="searchTerm"></nav-bar>

  <div class="container-fluid">
    <div class="row col-xs-12 text-center">
      <h1>TV LIST</h1>
    </div>
    <div class="row col-xs-12 text-center" style="margin-bottom: 20px">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="mode" uib-btn-radio="true">
          Watchlist
        </label>
        <label class="btn btn-default" ng-model="mode" uib-btn-radio="false">
          All Shows
        </label>
      </div>
    </div>
    <div class="row col-xs-12">
      <uib-alert ng-repeat="alert in alerts" 
        type="{{alert.type}}" 
        dismiss-on-timeout="{{alert.time}}"
        close="closeAlert($index)" ng-cloak>{{alert.msg}}</uib-alert>
    </div>

    <!-- Series list -->
    <series-item ng-repeat="seriesRating in ratings track by seriesRating.id" 
      mode="mode" series-rating="::seriesRating"
      is-collapsed="collapseMap[seriesRating.id]"
      on-toggle="collapseChanged"
      ng-hide="!matchSearch(seriesRating.name) || !seriesListVisible">
    </series-item>

    <search-results query="searchQuery"
      on-select-series="addSeries" 
      ng-if="searchResultsVisible">
    </search-results>

    <div class="row col-xs-12" on-become-visible="endOfList()"></div>
  </div>
</div>

{% endraw %}
{% endblock %}

{% block scripts %}
<script src="/static/js/app.js"></script>
<script src="/static/js/services.js"></script>
<script src="/static/js/navbar.js"></script>
{% endblock %}