{% extends 'base.html' %}

{% block content %}
<a href='/'>Home</a>
<table>
# for series in series_rated
    <tr>
        <td>
            <div id="{{series.get_id()}}">{{series.name}}</div>
        <td>
        <td></td>
        <td>
            <a href="https://www.themoviedb.org/tv/{{series.get_id()}}">TMDb</a>
            <a href="http://www.imdb.com/title/{{series.imdb_id}}">IMDb</a>
        </td>
        <td>{{series.air_date}}</td>
        <td>TMDB ID: {{series.get_id()}}</td>
    </tr>
    # for season in series.iter_seasons()
    # set season_rating = ur.get_season(season.get_id())
    # if not (season_rating and season_rating.watched())
    <tr>
        <td></td>
        <td><form method="post">
            <input type="hidden" name="id_type" value="season">
            <input type="hidden" name="watched_id" value="{{season.get_id()}}">
            <input type="hidden" name="series_div" value="{{series.get_id()}}">
            <input type="submit" class="submit_link"
                value="{{season.name()}}">
        </form></td>
        <td></td><td></td>
        <td>{{season.air_date()}}</td>
    </tr>
    
        # for episode in season.iter_episodes()
        # set episode_rating = ur.get_episode(episode.get_id())
        # if not (episode_rating and episode_rating.watched())
        <tr>
            <td></td><td></td>
            <td>{{episode.number()}}.</td>
            <td><form method="post">
                <input type="hidden" name="id_type" value="episode">
                <input type="hidden" name="watched_id" 
                    value="{{episode.get_id()}}">
                <input type="hidden" name="series_div" 
                    value="{{series.get_id()}}">
                <input type="submit" class="submit_link" 
                    value="{{episode.name()}}">
            </form></td>
            <td>{{episode.air_date()}}</td>
        </tr>
        # endif
        # endfor
 
    # endif
    # endfor
    <tr><td><br><br></td></tr>
# endfor
</table>
<a href='/'>Home</a>
{% endblock %}