<div class="row col-xs-12">
  <a href="" ng-click="cancel()"><h3>Cancel</h3></a>
</div>

<div style="display:inline;position:relative;left:0;top:0"
  ng-repeat="result in results"
  ng-click="selected(result.id, result.name)"
  ng-mouseenter="style={'opacity':0.5}"
  ng-mouseleave="style={}">
  <img style="position:relative;left:0;top:0;margin:3px"
    ng-style="style"
    ng-src="{{result && (basePosterUrl + result.poster_path)}}"/>
</div>


<div class="row col-xs-12" on-become-visible="endOfList()">

</div>