<div class="row col-xs-12 series-item" ng-hide="mode && !seriesRating.tracking">
  <span ng-click="onToggle({index:index})" class="pull-left">
    <span class="glyphicon" ng-class="{'glyphicon-triangle-right':isCollapsed, 'glyphicon-triangle-bottom':!isCollapsed}"></span>
    <img class="series-image" alt="{{::seriesJson.name}} Poster"
      ng-src="{{::baseImgUrl}}{{::seriesJson.poster_path}}" />
  </span>
  <span>
    <a href=""><h4>{{::seriesJson.name}}</h4></a>
    <uib-rating ng-model="seriesRating.rating" max="5" ng-click="ratingChanged()"></uib-rating>
    <div><label>currently tracking 
      <input type="checkbox" ng-model="seriesRating.tracking" 
        ng-change="checkboxChanged()" />
    </label></div>
    <div class="unwatched-label" 
      ng-hide="unwatchedEpisodes===0">Unwatched episodes: {{unwatchedEpisodes}}</div>
    <div ng-show="(unwatchedEpisodes===0) && (unairedEpisodes!==0)">Unaired episodes: {{unairedEpisodes}}</div>
    <div ng-show="(unwatchedEpisodes===0) && (unairedEpisodes===0)">Seen all</div>
  </span>
</div>

<div class="row col-xs-12" uib-collapse="isCollapsed" ng-if="::!isCollapsed || undefined">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Airdate</th>
        <th>Watched</th>
      </tr>
    </thead>

    <!-- season items -->
    <tbody ng-controller="SeasonItemController" ng-hide="(mode && seasonWatched)"
      ng-repeat="(seasonNum, seasonJson) in ::seriesJson.seasons track by seasonNum">
      <tr class="table-entry success">
        <td>Season {{::seasonNum}}</td>
        <td></td>
        <td></td>
        <td><input class="entry-check" ng-model="seasonWatched" 
          ng-change="checkboxChanged()" type="checkbox"></td>
      </tr>
      
      <!-- episode items -->
      <tr class="table-entry" ng-controller="EpisodeItemController" 
        ng-hide="(mode && episodeRating.watched)"
        ng-repeat="(episodeNum, episodeJson) in ::seasonJson.episodes track by episodeNum">
        <td>S{{::seasonNum}}E{{::episodeNum}} {{::episodeJson.name}}</td>
        <td>
          <uib-rating ng-model="episodeRating.rating" max="5" 
            readonly="episodeNotAired"
            ng-change="ratingChanged()"></uib-rating>
        </td>
        <td>{{::episodeJson.air_date | date:'shortDate'}}</td>
        <td><input class="entry-check" type="checkbox" 
          ng-change="checkboxChanged()" 
          ng-model="episodeRating.watched"
          ng-disabled="episodeNotAired"/></td>
      </tr>
    </tbody>
  </table>
</div>
